################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/repotest/ConsoleApplication1/.vs/ConsoleApplication1/v16
